<%- include('partials/header') -%>

<main class="container d-flex align-items-center justify-content-center" style="height: 70vh;">
    <div class="text-center" style="margin-bottom: 10vh;">
        <h2 class="mb-4">Welcome to Instagram Clone</h2>
        <div class="d-flex justify-content-center gap-3">
            <a href="/login" class="btn btn-primary btn-lg"> Login</a>
            <a href="/signup" class="btn btn-secondary btn-lg"> Signup</a>
        </div>
    </div>
</main>

<%- include('partials/footer') -%>