h1 {
    text-align: center;
    margin: 3vh;
}

body {
    background-color: rgb(35, 32, 32);
    color: white ;
}

.img-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 3vh;
}


.btn.btn-primary.fa.fa-heart,
.btn.btn-primary.favorite-button,
.btn.btn-primary.fa.fa-trash {
    width: 3vw;
    height: 6vh;
    font-size: 1.5vw;
    margin: 1vw;
}

