body {
    background-color: #1a1a1a;
    color: #f0f0f0;
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    margin: 5vh 0 2vh 0;
    font-size: 2.5rem;
    color: #4a90e2;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
}

h1 a {
    text-decoration: none;
    color: inherit;
}

.img-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5vh;
}

.btn.btn-primary.fa.fa-heart,
.btn.btn-primary.favorite-button,
.btn.btn-primary.fa.fa-trash {
    width: 3rem;
    height: 3rem;
    font-size: 1.2rem;
    margin: 0.5rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease;
}

.btn.btn-primary.fa.fa-heart:hover,
.btn.btn-primary.favorite-button:hover,
.btn.btn-primary.fa.fa-trash:hover {
    transform: scale(1.1);
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.2);
}

.h2-profile {
    margin: 2vh 0;
    font-size: 1.5rem;
    color: #4a90e2;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
}


.btn.btn-favorites {
    transform: scale(1);
    box-shadow: 0 0 5px rgba(255, 255, 255, 0.2);
    background-color: #4a90e2;
    color: #ece6e6;
    margin: 0;
    padding: 0.5rem 1rem;
    font-size: 0.9rem;
    width: 150px; /* Set a fixed width */
    max-width: 100%;
    display: inline-flex; /* Use flexbox for content alignment */
    justify-content: center; /* Center content horizontally */
    align-items: center; /* Center content vertically */
    text-align: center; /* Center text */
    white-space: nowrap; /* Prevent text wrapping */
    overflow: hidden; /* Hide overflowing text */
    text-overflow: ellipsis; /* Show ellipsis for overflowing text */
}
